*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h1 {
  font-size: 1.2rem;
  margin: 15px 0;
  color: hsl(218, 44%, 22%);
}
.card p{
    font-size: 0.9rem;
  color: hsl(220, 15%, 55%);
}
